@font-face {
  font-family: SymItalic;
  src: url(/css/SymbolBoldItalic.ttf);
}

#show-price {
  display: none;
}

h2 {
  text-decoration: underline;
}

body {
  background-image: url("../img/pizzafire.jpg");
  color:darkorange;
  font-family: SymItalic;
  font-size: large;
}

#title {
  text-align: center;
  text-decoration: underline;
}