#show-price {
  display: none;
}

@font-face {
  font-family: SymItalic;
  src: url(/css/Symbol\ Bold\ Italic.ttf);
}

body {
  background-image: url("../img/pizzafire.jpg");
  color: red;
  font-family: SymItalic;
  font-size: large;
}

#title {
  text-align: center;
  text-decoration: underline;
}

