#show-price {
  display: none;
}

@font-face {
  font-family: FerroRosso;
  src: url(/css/FerroRosso.ttf);
}

body {
  background-image: url("../img/pizzafire.jpg");
  color: darkgrey;
  font-family: FerroRosso;
  font-size: x-large;
}

#title {
  text-align: center;
}

